<form class="flex items-start" (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="searchForm">
  <ng-container [formGroup]="airportForm">
    <app-airport-field [formName]="'from'" [direction]="'From'" [placeholder]="'Choose your starting location'" />
    <app-airport-field [formName]="'to'" [direction]="'To'" [placeholder]="'Choose your destination'" />
  </ng-container>
  <app-dates-field [name]="'dates'"></app-dates-field>
  <app-passengers-field [name]="'passengers'"></app-passengers-field>
</form>
