<form
  class="flights-form flex flex-wrap flex-col sm:flex-row py-4 p-2 xl:pl-[156px] bg-white 2xl:h-[96px] sm:items-center justify-center 2xl:justify-start gap-5"
  #form="ngForm"
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit()"
>
  <mat-checkbox class="checkbox select-none" color="primary" formControlName="oneWay">One Way</mat-checkbox>
  <ng-container [formGroup]="airportForm">
    <app-airport-field [formName]="'fromLoc'" [direction]="'From'" [placeholder]="'Choose your starting location'" />
    <app-airport-field [formName]="'toLoc'" [direction]="'To'" [placeholder]="'Choose your destination'" />
  </ng-container>
  <app-dates-field [showFormatHint]="false" [name]="'dates'" />
  <app-passengers-field [name]="'passengers'" />
  <button mat-flat-button color="primary" [disabled]="form.invalid">Apply</button>
</form>
