<div class="booking-title flex-column gap-2 mx-4 xl:mx-0">
  <h2 class="mat-title flex gap-4">
    <img class="inline" src="../../../../assets/contact_details_icon.svg" alt="contacts icon" />
    <span class="mat-title">Contact details</span>
  </h2>
  <p class="mat-small">We need contact details to be able to deliver the latest information regarding your flight.</p>

  <mat-card class="booking-content w-full px-7 py-4 pb-0 gap-6" [formGroup]="contactDetailsForm">
    <mat-card-content>
      <div class="card-content flex gap-2 lg:gap-10 flex-wrap">
        <div class="phone-number flex flex-wrap w-full lg:w-fit gap-0 sm:gap-2 lg:gap-5">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Country code</mat-label>
            <mat-select formControlName="countryCode" [placeholder]="this.countryCodes[0]">
              <mat-option *ngFor="let code of countryCodes" [value]="code">
                {{ code }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="countryCodeField.hasError('required')">Required</mat-error>
            <mat-error *ngIf="countryCodeField.hasError('pattern')">Invalid character</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Mobile phone number</mat-label>
            <input formControlName="phone" placeholder="e.g. 1111111111" matInput type="text" />
            <mat-hint *ngIf="phoneNumberField.hasError('required')">Required</mat-hint>
            <mat-error *ngIf="phoneNumberField.hasError('pattern')">Invalid character</mat-error>
            <mat-error *ngIf="phoneNumberField.hasError('maxlength')">Must not exceed 15 digits</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="w-full lg:w-[418px]" appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="text" required="true" />
          <mat-error *ngIf="emailField.hasError('required')">Required</mat-error>
          <mat-error *ngIf="emailField.hasError('email')">Must be correct email</mat-error>
          <mat-error *ngIf="emailField.hasError('minlength')">Must be at least 3 characters</mat-error>
          <mat-error *ngIf="emailField.hasError('maxlength')">Must not exceed 16 characters</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
