.destination {
  font-weight: 500;
  font-size: 16px;
}

.return {
  color: #74767a;
  font-weight: 500;
  font-size: 14px;

  .dot {
    font-size: 20px;
    color: #0090bd;
  }
}

.edit.btn {
  background-color: #f4f6f9;
  color: #11397e;
}
