<mat-card>
  <mat-card-header class="card-header">
    <mat-card-title>
      <div class="flex gap-4">
        <span class="flight_number">{{ trip.number }}</span> <span>{{ trip.from }} - {{ trip.to }}</span>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="body_large subtitle"
      ><span>{{ trip.dates }}</span
      ><span>{{ trip.times }}</span></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let passenger of trip.passengers; let i = index">
      <app-information-about-passenger [passenger]="passenger"> </app-information-about-passenger>
      <mat-divider *ngIf="i + 1 !== trip.passengers.length"></mat-divider>
    </ng-container>
  </mat-card-content>
</mat-card>
