<mat-card>
  <mat-card-header class="card-header">
    <mat-card-title>
      <div class="flex gap-4">
        <span class="flight_number">{{ flight.number }}</span
        ><span>{{ flight.from }} - {{ flight.to }}</span>
      </div>
    </mat-card-title>
    <mat-card-subtitle class="body_large subtitle"
      ><span>{{ flight.dates }}</span
      ><span>{{ flight.times }}</span></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let passenger of flight.passengers; let i = index">
      <app-information-about-passenger [passenger]="passenger"> </app-information-about-passenger>
      <mat-divider *ngIf="i + 1 !== flight.passengers.length"></mat-divider>
    </ng-container>
  </mat-card-content>
</mat-card>
