.btn.calendar-control {
  $date-height: 70px;
  position: absolute;
  background-color: #e9edf1;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  bottom: calc($date-height / 2);
  transform: translateY(50%);
}

.btn.calendar-control:hover {
  background-color: #d4d7db;
}

.btn.prev {
  left: 0;
}

.btn.next {
  right: 0;
}
