<!-- TODO: show spinner when data is updating, add isLoading for this purpose -->
<!-- TODO: move destination and calendar to subcomponents -->
<!-- TODO: scroll the entire date group instead of one date -->
<div class="destination flex justify-center md:justify-start text-[#11397e] gap-3 px-2">
  <img [ngClass]="['icon', odd ? 'rotate-180' : '']" src="/assets/calendar-destination_icon.svg" alt="" srcset="" />
  <h2 class="heading">
    <span>{{ flight.form.city }}</span>
    <span> to </span>
    <span>{{ flight.to.city }}</span>
  </h2>
</div>

<button mat-flat-button (click)="decrementDate()">Prev</button>
<button mat-flat-button (click)="incrementDate()">Next</button>

<div class="flex justify-between items-end">
  <app-flights-calendar-date
    *ngFor="let date of dates; index as i; last as last"
    [flight]="flights | findFlight : date"
    [date]="date"
    [selectedFlightNumber]="selectedFlightNumber"
    [last]="last"
  />
</div>

<app-flight [odd]="odd" [flight]="flight" />
