<div class="m-10 mx-10 md:mx-20 xl:mx-40">
  <img alt="Summary" src="assets/Summary.svg" /> <span> Summary </span>
  <div class="grid justify-end grid-cols-1 gap-10 md:grid-cols-2">
    <div>
      <mat-card>
        <mat-card-header class="card-header">
          <mat-card-title>
            <div class="flex gap-4"><span>FR 1925</span><span>Dublin - Warsaw</span></div>
          </mat-card-title>
          <mat-card-subtitle>Wednesday</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> Preson list </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer class="flex justify-between p-10">
          <span>TOTAL</span>
          <span>551 </span>
        </mat-card-footer>
      </mat-card>
    </div>
    <div>
      <mat-card class="p-10">
        3
        <mat-divider></mat-divider>
        <mat-card-footer class="flex justify-between">
          <span>TOTAL</span>
          <span>551 </span>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="md:col-start-2">
      <mat-card class="p-10">
        3
        <mat-divider></mat-divider>
        <mat-card-footer class="flex justify-between p-10">
          <span>TOTAL</span>
          <span>551 </span>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <div class="mt-10 flex justify-end gap-4">
    <button mat-button color="primary">Back</button>
    <button mat-stroked-button color="primary">Add to order cart</button>
    <button mat-raised-button color="primary">Buy now</button>
  </div>
</div>
