<ng-component *ngIf="trip === undefined">
  <app-second-menu />
</ng-component>

<div class="m-10 mx-10 md:mx-20 xl:mx-40">
  <div class="flex gap-4 m-2">
    <img alt="Summary" src="/assets/Summary.svg" />
    <span class="page_title"> {{ 'SUMMARY.CAPTION' | translate }} </span>
  </div>
  <div class="grid justify-end grid-cols-1 gap-10 lg:grid-cols-2" *ngIf="trip !== undefined">
    <app-summary-passenger-card [trip]="trip.from" [passengers]="trip.passengers"></app-summary-passenger-card>
    <app-summary-passenger-card
      *ngIf="trip.to !== null"
      [trip]="trip.to"
      [passengers]="trip.passengers"
    ></app-summary-passenger-card>
    <div class="lg:col-start-2">
      <app-total-price [trip]="trip"></app-total-price>
    </div>
  </div>
  <div class="flex gap-5 flex-wrap mt-4 md:mt-10 flex-row justify-end">
    <button mat-button color="primary" class="btn" (click)="goBack()">{{ 'SUMMARY.BTN_BACK' | translate }}</button>
    <button mat-stroked-button color="primary" class="btn" (click)="addtoCart()">
      {{ 'SUMMARY.BTN_ADD' | translate }}
    </button>
    <button mat-raised-button color="primary" class="btn" (click)="buyNow()">
      {{ 'SUMMARY.BTN_BUY' | translate }}
    </button>
  </div>
</div>
