<div class="passengers-option" [formGroup]="passengersForm">
  <div class="passenger-type">
    <div class="passenger-name">{{ passenger.name }}</div>
    <div class="passenger-description">{{ passenger.description }}</div>
  </div>
  <div class="passenger-amount" [ngClass]="{ disabled: isDisabled() }">
    <button (click)="substract()" matPrefix>-</button>
    <input matInput class="w-3" [formControlName]="passenger.inputName" />
    <button (click)="add()" matSuffix>+</button>
  </div>
</div>
