<div class="m-5 body_large">
  <div>{{ passenger.nameFull | uppercase }}</div>
  <div class="mt-3 ml-7 mb-5 flex gap-1 flex-col">
    <div *ngIf="passenger.luggage" class="body_large">
      <span> {{ passenger.luggage }} {{ 'SUMMARY.BAG_START' | translate }} </span>
      <span>{{ passenger.luggage * 23 }}</span>
      <span>{{ 'SUMMARY.BAG_END' | translate }} </span>
    </div>
    <div class="body_large">
      <span>{{ 'SUMMARY.CABIN_BAG' | translate }}</span>
    </div>
    <div class="body_large">
      <span>{{ 'SUMMARY.SEAT' | translate }} </span><span>{{ passenger.seat }}</span>
    </div>
  </div>
</div>
