<ng-container [formGroup]="flightRouteForm">
  <app-airport-field [formName]="'fromLoc'" [direction]="'From'" [placeholder]="'Choose your starting location'" />

  <div class="switch-direction-btn-container">
    <button
      type="button"
      mat-mini-fab
      class="switch-direction-btn"
      color="basic"
      aria-label="Switch-direction-icon"
      (click)="switchDirection()"
    >
      <img src="../../../../assets/Vector.svg" alt="Switch direction icon" />
    </button>
  </div>

  <app-airport-field [formName]="'toLoc'" [direction]="'Destination'" [placeholder]="'Choose your destination'" />
</ng-container>
