<mat-card class="container mx-auto my-10 border overflow-y-auto md:p-2 lg:p-4 mat-body-strong">
  <mat-card-header>
    <mat-card-title color="primary">{{ 'CART.CART' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="md:p-29 mt-8 sm:p-0 m-0">
    <table class="border-collapse" *ngIf="tripInCart$ | async as DS" mat-table [dataSource]="DS" matSort>
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            color="primary"
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            color="primary"
            [checked]="selection.isSelected(element)"
            (change)="$event ? selection.toggle(element) : null"
          ></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="table_head" mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let el">{{ tripList.getNumber(el) }}</td>
      </ng-container>
      <ng-container matColumnDef="flights">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CART.FLIGHT' | translate }}</th>
        <td mat-cell *matCellDef="let el">{{ tripList.getFlight(el) }}</td>
      </ng-container>
      <ng-container matColumnDef="typeTrip">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CART.TYPE_TRIP' | translate }}</th>
        <td mat-cell *matCellDef="let el">{{ tripList.getFlightType(el) }}</td>
      </ng-container>
      <ng-container matColumnDef="dateTime" class="md: hidden">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CART.DATE_TIME' | translate }}</th>
        <td mat-cell *matCellDef="let el">{{ tripList.getDateTime(el) }}</td>
      </ng-container>
      <ng-container matColumnDef="passengers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CART.PASSENGER' | translate }}</th>
        <td mat-cell *matCellDef="let el">{{ passengerList.passengersByString(el.from.passengers) }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CART.PRICE' | translate }}</th>
        <td mat-cell *matCellDef="let el">
          {{ currencySymbolService.getCurrencySymbol() }}{{ tripList.getPrice(el) | number : '1.0-2' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="control" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let el">
          <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ myobject: el }">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-divider> </mat-divider>
    <mat-card-footer>
      <div class="mt-4 mb-4 flex justify-between align-middle flex-col md:flex-row">
        <button (click)="addTrip()" mat-button class="btn-addtrip">
          <span class="btn-primary-color mx-8 my-4"> + {{ 'CART.ADD_NEW' | translate }}</span>
        </button>
        <div *ngIf="this.selection.selected.length > 0" class="flex gap-5 items-center pr-4">
          <span> {{ 'CART.TOTAL' | translate }} </span>
          <span class="totalPrice"
            >{{ currencySymbolService.getCurrencySymbol() }}{{ getTotalPrice() | number : '1.0-2' }}</span
          >
        </div>
      </div>
      <mat-divider> </mat-divider>
      <div
        class="pt-11 flex justify-between align-baseline flex-col md:flex-row"
        *ngIf="this.selection.selected.length > 0"
      >
        <mat-form-field appearance="fill">
          <mat-label>{{ 'CART.INPUT' | translate }}</mat-label>
          <input matInput [(ngModel)]="promocode" />
          <button mat-button matSuffix (click)="applyPromoCode()">
            <span class="btn-primary-color">{{ 'CART.APPLY' | translate }}</span>
          </button>
        </mat-form-field>
        <div class="payment_btn">
          <span class="selected"> {{ this.selection.selected.length }} {{ 'CART.SELECTED' | translate }}</span>
          <button mat-raised-button class="btn" color="primary" (click)="pay()">
            {{ 'CART.PAYMENT' | translate }}
          </button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-myobject="myobject">
    <button mat-menu-item (click)="editWithCheckbox(myobject)">
      <span class="pl-3"> {{ 'CART.EDIT' | translate }} </span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="deleteWithCheckbox(myobject)">
      <span class="pl-3"> {{ 'CART.DELETE' | translate }} </span>
    </button>
  </ng-template>
</mat-menu>
