<mat-card class="boking-content passenger-card w-full sm:px-7 py-4 gap-1 sm:gap-6">
  <mat-card-header>
    <mat-card-title>{{ index }}. {{ title }} </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="passenger-card-content flex flex-wrap gap-1 sm:gap-5 lg:flex-nowrap">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>First name</mat-label>
        <input name="firstName" matInput #firstNameInput="matInput" type="text" />
        <!-- <mat-icon
            [ngClass]="['icon', !firstNameInput.focused ? 'text-[#74767A]' : '']"
            matSuffix
            [color]="firstNameInput.touched && control.errors ? 'warn' : control.valid && 'accent'"
            >{{ control.touched && control.errors ? 'info' : 'info_outline' }}</mat-icon
          > -->
        <mat-icon matSuffix [matTooltip]="tooltip">info_outline</mat-icon>
        <!-- <mat-hint *ngIf="control.errors?.['required']">Required</mat-hint>
          <mat-error *ngIf="control.errors?.['pattern']">Invalid character</mat-error> -->
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Last name</mat-label>
        <input name="lastName" matInput #firstNameInput="matInput" type="text" />
        <!-- <mat-icon
            [ngClass]="['icon', !firstNameInput.focused ? 'text-[#74767A]' : '']"
            matSuffix
            [color]="firstNameInput.touched && control.errors ? 'warn' : control.valid && 'accent'"
            >{{ control.touched && control.errors ? 'info' : 'info_outline' }}</mat-icon
          > -->
        <mat-icon matSuffix [matTooltip]="tooltip" matTooltipPosition="right">info_outline</mat-icon>
        <!-- <mat-hint *ngIf="control.errors?.['required']">Required</mat-hint>
          <mat-error *ngIf="control.errors?.['pattern']">Invalid character</mat-error> -->
      </mat-form-field>

      <mat-button-toggle-group
        class="gender-buttons-group w-full sm:w-[216px] mb-5"
        name="gender"
        aria-label="Font Style"
      >
        <mat-button-toggle #genderButtonMale class="gender-toggle-button" value="male">
          <mat-icon
            class="gender-button-checked-icon"
            *ngIf="genderButtonMale.checked"
            color="primary"
            fontIcon="check"
          ></mat-icon>
          <span [ngClass]="genderButtonMale.checked ? 'gender-button-checked' : ''">Male</span>
        </mat-button-toggle>
        <mat-button-toggle #genderButtonFemale class="gender-toggle-button" value="female" color="primary">
          <mat-icon
            *ngIf="genderButtonFemale.checked"
            class="gender-button-checked-icon"
            color="primary"
            fontIcon="check"
          ></mat-icon>
          <span [ngClass]="genderButtonFemale.checked ? 'gender-button-checked' : ''">Female</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" />
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="passenger-additions relative flex flex-wrap w-full gap-2" *ngIf="title !== 'Infant'">
      <div class="special-assistants relative w-full sm:w-[320px]">
        <mat-slide-toggle #switchButton color="primary">
          <div class="flex sm:pl-2 lg:pl-5 justify-start items-center min-w-[220px]">
            <mat-icon class="min-w-[32px]">wheelchair_pickup</mat-icon>
            <span class="sm:pl-2">Need special assistance?</span>
          </div>
        </mat-slide-toggle>
      </div>

      <div class="luggage flex flex-nowrap relative">
        <mat-slide-toggle #luggageButton color="primary" class="w-max">
          <div class="flex sm:pl-2 lg:pl-5 justify-start items-center w-[120px] sm:w-[150px]">
            <mat-icon class="min-w-[32px]">luggage</mat-icon>
            <span class="sm:pl-2">Luggage</span>
          </div>
        </mat-slide-toggle>

        <div class="luggage-input flex flex-nowrap justify-between items-center w-[60px]" *ngIf="luggageButton.checked">
          <button class="luggage-input-button text-lg" [disabled]="luggageAmount === 0">&minus;</button>
          <div class="input w-3 font-semibold text-lg">{{ luggageAmount }}</div>
          <button class="luggage-input-button text-lg">&plus;</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
