<mat-toolbar class="header sticky top-0 gap-2 md:gap-6 lg:gap-10 justify-center">
  <a routerLink="/" routerLinkActive="router-link-active" class="logo" aria-label="button with logo">
    <img src="assets/logo.svg" alt="logo" srcset="" />
  </a>
  <ng-container *ngIf="mainPage; else progressIndicator">
    <span class="spacer flex-auto"></span>
    <app-booking />
  </ng-container>
  <app-date-format-selector />
  <app-currency-menu />
  <app-sign-in />
  <app-cart />
</mat-toolbar>

<ng-template #progressIndicator>
  <span class="spacer flex-auto xl:hidden"></span>
  <app-progress-indicator />
</ng-template>
