<div class="booking-title flex-column gap-2">
  <h2 class="flex gap-4">
    <img class="inline" src="../../../../assets/passengers_icon.svg" alt="passengers icon" />
    <span color="primary" class="mat-title">Passengers</span>
  </h2>
  <p class="mat-small color-gray">
    We need contact details to be able to deliver the latest information regarding your flight.
  </p>
  <div class="booking-content passengers-cards flex flex-col gap-5">
    <app-booking-passenger-card
      *ngFor="let passenger of passengers; let i = index"
      [index]="i + 1"
      [title]="passenger"
    ></app-booking-passenger-card>
  </div>
</div>
