<!-- TODO: switch currency and date format using header menu -->
<app-flights-calendar-destination [flight]="flight" [odd]="odd" />

<app-flights-calendar
  *ngIf="!confirmed"
  class="justify-between flex items-end relative"
  [isFirstFlight]="first"
  [flights]="flights"
  [selectedFlight]="selectedFlight"
  [selectedFlightNumber]="selectedFlight?.flightNumber"
  (selectedFlightChange)="selectedFlight = $event"
/>

<app-flight
  [odd]="odd"
  [isFirstFlight]="first"
  [flight]="selectedFlight"
  [confirmed]="confirmed"
  (confirmedChange)="confirmedChange.emit($event)"
/>
