<!-- TODO: show spinner when data is updating, add isLoading for this purpose -->
<!-- TODO: scroll the entire date group instead of one date -->
<app-flights-calendar-destination [flight]="flight" [odd]="odd" />

<app-flights-calendar
  *ngIf="!confirmed"
  class="justify-between flex items-end relative"
  [flight]="flight"
  (selectedFlightChange)="flight = $event"
/>

<app-flight
  [odd]="odd"
  [flight]="selectedFlight || flight"
  [confirmed]="confirmed"
  (confirmedChange)="confirmedChange.emit($event)"
/>
