@use '@angular/material' as m;
@use './../../../styles.scss';
@use './../../../themes/default/colors' as c;
@use './../../../themes/default/typography' as t;
@use './../../../themes/util' as util;
@use './../../../themes/default/mixins' as mix;

mat-card {
  background: c.$white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

mat-card-title {
  @include mix.title-large-typography();
  color: c.$primary-color;
}

.mdc-data-table__header-row {
  background: util.get-color(c.$brand-neutral, 80) !important;
  border: 0.5px solid #e9edf1;
}

.mat-column-checkbox {
  width: 10px;
  border-right: 1px solid currentColor;
}

.mat-column-control {
  width: 10px;
}

.mat-mdc-header-cell {
  @include mix.subtitle-medium();
}

.btn-addtrip {
  background: util.get-color(c.$brand-secondary, 90);
}

.btn-primary-color {
  color: c.$primary-color;
}

.selected {
  @include mix.body-large();
  color: util.get-color(c.$brand-neutral, 30);
}

.totalPrice {
  background: linear-gradient(90deg, #11397e 0%, #005abc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  @include mix.subtitle-large-typography();
}

.payment_btn {
  display: flex;
  align-items: center;
  gap: 2rem;

  .btn {
    width: 126px;
    height: 60px;
  }
}
