<ng-container [ngSwitch]="isOneWay">
  <ng-template [ngSwitchCase]="false" ngSwitchDefault>
    <mat-form-field [formGroup]="datesForm" appearance="fill" class="flight-dates" hideRequiredMarker>
      <mat-label>{{ 'MAIN_FORM.DATES' | translate }}</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker" [min]="today">
        <input matStartDate placeholder="Start date" formControlName="takeoffDate" />
        <input matEndDate placeholder="End date" formControlName="landingDate" />
      </mat-date-range-input>
      <mat-hint *ngIf="showFormatHint">{{ dateFormatHint }}</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <mat-divider></mat-divider>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-button matDateRangePickerApply>Ok</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
  </ng-template>

  <ng-template [ngSwitchCase]="true">
    <mat-form-field [formGroup]="datesForm" class="flight-dates" appearance="fill" hideRequiredMarker="true">
      <mat-label>{{ 'MAIN_FORM.DATE' | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" [min]="today" formControlName="takeoffDate" />
      <mat-hint>{{ dateFormatHint }}</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </ng-template>
</ng-container>
