<mat-form-field [formGroup]="passengersForm" appearance="fill" class="passengers-select">
  <mat-label>Passengers</mat-label>
  <mat-select multiple (closed)="onClosed()" (selectionChange)="onSelect()">
    <mat-select-trigger> 2 Adult, 1 Infant</mat-select-trigger>

    <ng-template role="option" #matOption let-input="input">
      <app-passenger-input [passenger]="input"></app-passenger-input>
    </ng-template>

    <mat-option *ngTemplateOutlet="matOption; context: { input: adult }"></mat-option>
    <mat-option *ngTemplateOutlet="matOption; context: { input: child }"></mat-option>
    <mat-option *ngTemplateOutlet="matOption; context: { input: infant }"></mat-option>

    <mat-option style="display: none" selected> </mat-option>
  </mat-select>
</mat-form-field>
