<mat-form-field [formGroup]="passengersForm" class="passengers-select" appearance="fill">
  <mat-label>Passengers</mat-label>
  <mat-select #selectForm multiple (closed)="onClose()">
    <mat-select-trigger>{{ trigger }}</mat-select-trigger>

    <ng-template #matOption let-input="input">
      <app-passenger-input [passenger]="input"></app-passenger-input>
    </ng-template>

    <mat-option *ngTemplateOutlet="matOption; context: { input: adult }"></mat-option>
    <mat-option *ngTemplateOutlet="matOption; context: { input: child }"></mat-option>
    <mat-option *ngTemplateOutlet="matOption; context: { input: infant }"></mat-option>

    <mat-option #option style="display: none" selected> </mat-option>
  </mat-select>
</mat-form-field>
