<ng-container [formGroup]="flightRouteForm">
  <app-airport-field
    [formName]="'from'"
    [direction]="getTranslateLabel().FROM"
    [placeholder]="getTranslateLabel().LABEL_FROM"
  ></app-airport-field>

  <div class="switch-direction-btn-container">
    <button
      type="button"
      mat-mini-fab
      class="switch-direction-btn"
      color="basic"
      aria-label="Switch-direction-icon"
      (click)="switchDirection()"
    >
      <img src="../../../../assets/Vector.svg" alt="Switch direction icon" />
    </button>
  </div>

  <app-airport-field
    [formName]="'to'"
    [direction]="getTranslateLabel().TO"
    [placeholder]="getTranslateLabel().LABEL_TO"
  ></app-airport-field>
</ng-container>
