<ng-container [formGroup]="flightRouteForm">
  <app-airport-field
    [formName]="'from'"
    [direction]="'From'"
    [placeholder]="'Choose your starting from'"
  ></app-airport-field>

  <div class="switch-direction-btn-container">
    <button
      type="button"
      mat-mini-fab
      class="switch-direction-btn"
      color="basic"
      aria-label="Switch-direction-icon"
      (click)="switchDirection()"
    >
      <img src="../../../../assets/Vector.svg" alt="Switch direction icon" />
    </button>
  </div>

  <app-airport-field
    [formName]="'to'"
    [direction]="'Destination'"
    [placeholder]="'Choose your destination'"
  ></app-airport-field>
</ng-container>
