@use 'mixins' as mx;
@use 'colors' as c;


.booking-content {
  // .mat-mdc-tab-body-content {
  //   overflow: hidden;
  // }

  // .mdc-button,
  // .mat-button-toggle {
  //   font-weight: 500;
  // }

  // .mat-mdc-tab-labels,
  // .mdc-text-field {
  //   @include mx.button_border;
  // }

  .mdc-text-field {
    background-color: #f4f6f9;
  }

  // .mdc-tab[aria-selected='true'] {
  //   @include mx.input-outline;
  // }

  .mdc-line-ripple {
    display: none;
  }

  .mat-mdc-form-field.ng-touched.ng-invalid .mdc-text-field {
    border-color: c.$error-color;
  }

  // .btn.password-recovery {
  //   align-self: flex-end;
  //   font-size: 14px;
  // }

  // .anchor[color='primary'] {
  //   color: c.$primary-color;
  // }

  .mdc-text-field {
    @include mx.button_border;
  }

  // .mdc-text-field {
  //   background-color: #f4f6f9;
  // }

  // .mdc-line-ripple {
  //   display: none;
  // }

  // .mat-mdc-form-field.ng-touched.ng-invalid .mdc-text-field {
  //   border-color: c.$error-color;
  // }

  // .mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-full {
  //   display: none;
  // }

  // .mat-mdc-option .mdc-list-item__primary-text {
  //   width: 100%;
  // }

  // .mat-button-toggle-group-appearance-standard,
  // .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  //   border-color: #74767a;
  // }

  // .social-network-buttons .btn {
  //   height: 56px;
  //   color: #49454f;
  // }
}