@mixin button_border() {
  border: 1px solid #cecece;
  border-radius: 4px;
}

@mixin title-large-typography() {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

@mixin subtitle-large-typography() {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

@mixin subtitle-medium() {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

@mixin body-large() {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
