@use '@angular/material' as mat;

$button-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 16px,
  $line-height: 20px,
  $letter-spacing: 0.1px,
);

$body-xsmall-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 8px,
  $line-height: 20px,
);

$body-small-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 12px,
  $line-height: 16px,
  $letter-spacing: 0.4px,
);

$body-medium-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 14px,
  $line-height: 20px,
  $letter-spacing: 0.25px,
);

$body-large-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 16px,
  $line-height: 24px,
  $letter-spacing: 0.5px,
);

$body-xlarge-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 20px,
  $line-height: 32px,
  $letter-spacing: 0.5px,
);

$label-small-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 12px,
  $line-height: 16px,
  $letter-spacing: 0.4px,
);

$label-medium-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 14px,
  $line-height: 20px,
  $letter-spacing: 0.1px,
);

$label-large-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 16px,
  $line-height: 16px,
  $letter-spacing: 0.6px,
);

$subtitle-small-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 12px,
  $line-height: 16px,
);

$subtitle-medium-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 20px,
  $line-height: 20px,
);

$subtitle-large-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 30px,
  $line-height: 36px,
);

$title-xsmall-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 16px,
  $line-height: 24px,
  $letter-spacing: 0.15px,
);

$title-small-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 16px,
  $line-height: 24px,
  $letter-spacing: 0.5px,
);

$title-medium-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 20px,
  $line-height: 24px,
  $letter-spacing: 0.5px,
);

$title-large-typography: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 24px,
  $line-height: 28px,
);

// в документации указано делать так
$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, 'Roboto', 0em),
  display-1: mat.define-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, 'Roboto', 0em),
  title: mat.define-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: $body-large-typography,
  body-1: mat.define-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: $button-typography,
  caption: mat.define-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: $body-large-typography,
);
