.header {
  height: 88px;

  .controls {
    gap: 1rem;
  }

  .mat-horizontal-content-container {
    display: none;
    background-color: black;
  }

  .mat-horizontal-stepper-header {
    height: unset;
  }

  .mat-stepper-horizontal {
    background-color: unset;
  }
}
