@use '@angular/material' as mat;

@use 'colors' as c;
@use 'typography' as t;

$my-primary: mat.define-palette(c.$brand-primary, 50, 100, 500);

$my-error: mat.define-palette(c.$brand-error, 0, 0, 0);

$my-accent: mat.define-palette(c.$brand-accent, 0, 30, 30);

$my-disable: mat.define-palette(c.$brand-neutral, 100, 0, 30);

$my-neutral: mat.define-palette(c.$brand-secondary, 90, 0, 100);

$rs-airline-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-error,
      disable: $my-disable,
      forms: $my-neutral,
    ),
    typography: t.$fontConfig,
  )
);
