/* Change the background color */
.mat-slide-toggle-bar {
  background-color: #f1f1f1;
}

/* Change the knob color */
.mat-slide-toggle-thumb {
  background-color: #ccc;
}

/* Change the size */
.mat-slide-toggle-bar {
  height: 24px;
}

.mat-slide-toggle-thumb {
  width: 24px;
  height: 24px;
}

.mat-card {
  padding: 44px;
}
