@use '../../../../themes/default/colors' as c;
@use '../../../../themes/util' as u;
@use '../../../../themes/default/vars' as v;

.form-field {
  @apply w-full  sm:w-[45%] lg:w-[255px];
}

.mdc-tooltip__surface {
  background-color: c.$white !important;
  color: #1C1B1F !important;
  padding: 1rem 1.5rem !important;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.gender-buttons-group {
  height: 56px;
}

.mat-button-toggle-label-content {
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
}

.mat-button-toggle,
.mat-button-toggle-checked {
  background-color: u.get-color(c.$brand-secondary, 90);
  font-weight: 500;
}

.gender-toggle-button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender-button-checked {
  color: c.$primary-color;
}

.gender-button-checked-icon {
  font-size: 0.8rem;
  position: relative;
  top: 5px;
}

// mat-slide-toggle customization

.mdc-switch,
.mdc-switch__track {
  width: 52px !important;
  height: 32px !important;

  border: 2px solid #74767A;
  border-radius: 16px !important;
}

.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::before {
  background: #F4F6F9 !important;
}

.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle {
  width: 24px !important;
  height: 24px !important;
  border-radius: 12px !important;
  padding: 4px;
  position: relative;
  left: 4px;
}
.mdc-switch.mdc-switch--selected.mdc-switch--checked .mdc-switch__track,
.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
  background: c.$primary-color !important;
  border-color: c.$primary-color !important;
}

.mat-mdc-slide-toggle,
.mdc-switch,
.mdc-switch__handle-track {

  width: 52px;
}
.mdc-switch--selected .mdc-switch__handle-track {
  transform: translateX(20px) !important;
}

.mat-mdc-slide-toggle .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__handle::after {
  background: #74767A !important;
}

.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: #F4F6F9 !important;
}

.mdc-switch__icon {
  fill: #74767A !important;
  left: -1px !important;

  &--off {
    left: -5px;
    path {
      d: path(v.$close-icon) !important;
      fill: white !important;
    }
  }
}
