@use '@angular/material' as mat;
@use 'main-page';
@use 'default' as default;

@include mat.core();

@mixin shadow() {
  background: rgba(206, 206, 206, 0.11);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

@include mat.button-theme(default.$rs-airline-theme);
@include mat.icon-theme(default.$rs-airline-theme);
