@use '../default/mixins' as mx;
@use '../default/colors' as c;
.main-page {
  background: top / contain no-repeat url('/assets/bg-main.jpg') #f5f5f5;

  .header.mat-toolbar {
    background-color: rgba(116, 118, 122, 0.2);

    .controls {
      @apply gap-2 md:gap-4 lg:gap-10;
    }

    .mat-icon,
    .mdc-button,
    .mat-mdc-select-placeholder,
    .mat-mdc-select-value-text {
      color: #fff;
    }

    .mat-mdc-unelevated-button,
    .date-format-container {
      background-color: rgba(241, 243, 246, 0.15);
    }
  }

  .flight-route {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  .mdc-button {
    font-weight: 500;
  }

  .mdc-text-field {
    @include mx.button_border;
  }

  .mdc-text-field {
    background-color: #f4f6f9;
  }

  .mdc-line-ripple {
    display: none;
  }

  .mat-mdc-form-field.ng-touched.ng-invalid .mdc-text-field {
    border-color: c.$error-color;
  }

  .mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-full {
    display: none;
  }

  .mat-mdc-option .mdc-list-item__primary-text {
    width: 100%;
  }
}

.header .mat-mdc-select-placeholder {
  transition: none;
}


