<ng-container [formGroup]="passengersForm">
  <mat-form-field class="passengers-select" appearance="fill" hideRequiredMarker="true">
    <mat-label>{{ 'MAIN_FORM.PASSENGER' | translate }}</mat-label>
    <mat-select [formControl]="passSelect" [compareWith]="compareFn" multiple [disableRipple]="true">
      <mat-select-trigger>{{ triggerValue }}</mat-select-trigger>

      <mat-option
        class="passengers-option"
        #option
        *ngFor="let p of passengers; let id = index"
        [value]="{
          name: p.name,
          amount: passengersForm.get(p.inputName)?.value
        }"
        (onSelectionChange)="onSelect(id)"
      >
        <app-passenger-input [inputValue]="option.value.amount" [passenger]="p"></app-passenger-input>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="passSelect.hasError('required')">{{ 'ERRORS.PASSENGER_ADULT' | translate }}</mat-error>
  </mat-form-field>
</ng-container>
