@use '../../../../themes/default/mixins' as mx;
@use '../../../../themes/util' as u;
@use '../../../../themes/default/colors' as c;
@use '../../../../styles/mixins.scss' as m;
@use '../../../../styles/vars.scss' as v;

// .btn {
//   @include mx.button_border;
// }

// .test {
//   background-color: u.get-color(c.$brand-secondary, 50);
// }

:host {
  display: flex;
  // padding-top: v.$header-height;
  margin-bottom: 77px;
  width: 100vw;
  height: calc(100vh - v.$footer-height);

  // background-image: url(../../../../assets/Background.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: top;

  .wrapper {
    @include m.wrapper;
    padding-top: 20px;
  }
}