<div class="m-5 body_large">
  <div>{{ passenger.nameFull | uppercase }}</div>
  <div class="mt-3 ml-7 mb-5 flex gap-1 flex-col">
    <div class="body_large flex_between">
      <span>
        {{ 'SUMMARY.FARE' | translate }}
      </span>
      <span>
        {{ passenger.fare }}
      </span>
    </div>
    <div class="body_large flex_between">
      <span>{{ 'SUMMARY.TAX' | translate }}</span
      ><span>{{ passenger.fare }}</span>
    </div>
    <div class="body_large flex_between">
      <span>{{ 'SUMMARY.SEAT' | translate }} </span><span>{{ passenger.seat }}</span>
    </div>
  </div>
</div>
