<div class="wrapper">
  <div class="footer-info">© 2023, AIRWAY. All rights reserved.</div>
  <div class="footer-pay">
    <div class="footer-pay-title">We accept these payment methods</div>
    <div class="footer-pay-cards">
      <img src="../../../../assets/Icon_Amason_Pay.svg" alt="amason icon" />
      <img src="../../../../assets/Icon_American_Express.svg" alt="american express icon" />
      <img src="../../../../assets/Icon_Mastercard.svg" alt="mastercard icon" />
      <img src="../../../../assets/Icon_Visa.svg" alt="visa icon" />
    </div>
  </div>
</div>
