<div class="wrapper">
  <div class="footer-info">© 2023, AIRWAY.{{ 'FOOTER.RIGHTS' | translate }}</div>
  <div class="footer-pay">
    <div class="footer-pay-title">{{ 'FOOTER.PAYS' | translate }}</div>
    <div class="footer-pay-cards">
      <img src="/assets/Icon_Amason_Pay.svg" alt="amason icon" />
      <img src="/assets/Icon_American_Express.svg" alt="american express icon" />
      <img src="/assets/Icon_Mastercard.svg" alt="mastercard icon" />
      <img src="/assets/Icon_Visa.svg" alt="visa icon" />
    </div>
  </div>
</div>
<div class="dev-info">
  <a href="https://github.com/altsep">
    <img src="/assets/github_icon.svg" alt="github icon" />
    <span>Alexei Arushanov</span>
  </a>
  <a href="https://github.com/AnnaFeona">
    <img src="/assets/github_icon.svg" alt="github icon" />
    <span>Hanna Hlavatskikh</span>
  </a>
  <a href="https://github.com/stanlys">
    <img src="/assets/github_icon.svg" alt="github icon" />
    <span>Sergey Chelnakov</span>
  </a>
</div>
