<div
  class="second-menu py-2 sm:py-0 sm:h-[88px] bg-[#fafafa] flex items-center flex-wrap p-2 xl:pl-[156px] gap-2 sm:gap-4 xl:gap-10 z-10 relative"
>
  <ng-container *ngIf="hasData; else fallback">
    <div class="destination flex items-center gap-4">
      <span>{{ fromCity }}</span>
      <img [src]="!oneWay ? '/assets/return_trip.svg' : '/assets/one-way_trip.svg'" alt="" srcset="" />
      <span>{{ toCity }}</span>
    </div>
    <div class="return flex items-center gap-2">
      <span>{{ !oneWay ? 'Return' : 'Arrive' }}</span>
      <span class="dot">•</span>
      <span>{{ fromDate | date : 'mediumDate' }}</span>
      <ng-container *ngIf="!oneWay">
        <span>—</span>
        <span>{{ toDate | date : 'mediumDate' }}</span>
      </ng-container>
      <span class="dot">•</span>
      <div class="passengers flex items-center">
        <span>{{ passengerAmount }}</span>
        <span><mat-icon fontIcon="person" /></span>
      </div>
    </div>
  </ng-container>
  <button class="edit btn" mat-button (click)="toggleSearchForm.emit()">Edit</button>
</div>

<ng-template #fallback>
  <span class="text-[#74767a] text-lg font-medium">No flight data found</span>
</ng-template>
