<ng-container [ngSwitch]="isOneWay">
  <ng-template ngSwitchCase="false" ngSwitchDefault>
    <mat-form-field [formGroup]="datesForm" appearance="fill" class="flight-dates" hideRequiredMarker>
      <mat-label>Dates</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker" [min]="today">
        <input matStartDate placeholder="Start date" formControlName="from" />
        <input matEndDate placeholder="End date" formControlName="to" />
      </mat-date-range-input>
      <mat-hint>{{ dateFormatHint }} range</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <mat-divider></mat-divider>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-button matDateRangePickerApply>Ok</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
  </ng-template>

  <ng-template ngSwitchCase="true">
    <mat-form-field [formGroup]="datesForm" class="flight-dates" appearance="fill" hideRequiredMarker="true">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [min]="today" formControlName="oneWay" />
      <mat-hint>{{ dateFormatHint }} single</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </ng-template>
</ng-container>
