@use '@angular/material' as mat;
@use '../../../../themes/default/colors' as c;
:host {
  padding: 10px;

  .main-page-form {
    display: flex;
    max-width: 580px;
    min-width: 300px;
    min-height: 390px;
    padding: 8px;
  }

  .search-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .flight-root {
  }

  .switch-direction-btn-container {
    display: flex;
    position: relative;
    width: 100%;
  }
  .switch-direction-btn {
    position: absolute;
    box-shadow : none;
    border: solid 1px gray;
    background-color: white;

    right: 20px;
    top: -20px;
    z-index: 10;
  }
}

.date-passengers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

