<mat-card class="main-page-form">
  <mat-card-content>
    <form class="search-form">
      <mat-radio-group aria-label="Select an option" color="primary">
        <mat-radio-button value="0" checked="true" color="primary">Round Trip</mat-radio-button>
        <mat-radio-button value="1" color="primary">One Way</mat-radio-button>
      </mat-radio-group>

      <div class="flight-root">
        <mat-form-field appearance="fill" [hideRequiredMarker]="true">
          <mat-label>From</mat-label>
          <input
            type="text"
            placeholder="Choose your departure point"
            aria-label="From"
            matNativeControl
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            hideSingleSelectionIndicator="true"
            [displayWith]="showAirport"
          >
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              <div class="city">{{ option.city }} ({{ option.code }})</div>
              <div class="other">{{ option.name }} {{ option.country }}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="switch-direction-btn-container">
          <button
            type="button"
            mat-mini-fab
            class="switch-direction-btn"
            color="basic"
            aria-label="Switch-direction-icon"
          >
            <img src="../../../../assets/Vector.svg" alt="Switch direction icon" />
          </button>
        </div>

        <mat-form-field appearance="fill" [hideRequiredMarker]="true" [floatLabel]="'always'">
          <mat-label>Destination</mat-label>
          <input
            type="text"
            placeholder="Choose your departure point"
            aria-label="To"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="date-passengers-container">
        <mat-form-field appearance="fill" class="flight-dates">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Start date" />
            <input matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <mat-divider></mat-divider>
              <button mat-button matDateRangePickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="passengers-select">
          <mat-label>Passengers</mat-label>
          <mat-select multiple="true">
            <mat-select-trigger> 2 Adult, 1 Infant</mat-select-trigger>

            <ng-template #matOption let-type="type" let-description="description" let-amount="amount">
              <div class="passengers-option">
                <div class="passenger-type">
                  <div class="passenger-name">{{ type }}</div>
                  <div class="passenger-description">{{ description }}</div>
                </div>
                <div class="passenger-amount" [ngClass]="{ disabled: amount === 0 }">
                  <button matPrefix [disabled]="amount === 0">-</button>
                  <div class="passenger-amount-content">{{ amount }}</div>
                  <!-- <input type="number" matInput [value]="amount" class="w-3" /> -->
                  <button matSuffix>+</button>
                </div>
              </div>
            </ng-template>

            <mat-option
              role="option"
              selected="true"
              *ngTemplateOutlet="matOption; context: { type: 'Adult', description: '14+ years', amount: 1 }"
            ></mat-option>
            <mat-option
              role="option"
              *ngTemplateOutlet="matOption; context: { type: 'Child', description: '2-14 years', amount: 1 }"
            ></mat-option>
            <mat-option
              role="option"
              *ngTemplateOutlet="matOption; context: { type: 'Infant', description: '0-2 years', amount: 0 }"
            ></mat-option>

            <!-- <div class="passengers-option">
                <div class="passenger-type">
                  <div class="passenger-name">Child</div>
                  <div class="passenger-description">2 - 14 years</div>
                </div>
                <div class="passenger-amount">
                  <button>-</button>
                  <span>2</span>
                  <button>+</button>
                </div>
              </div> -->

            <mat-option style="display: none"> </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-card-actions class="flex-row justify-end">
        <button mat-flat-button type="submit" color="primary">Search</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
