<div class="flex items-center w-full">
  <mat-divider class="flex-auto"></mat-divider>
  <span class="p-3 text-xs my-6">or sign up with your email</span>
  <mat-divider class="flex-auto"></mat-divider>
</div>

<form class="form auth-tab flex flex-col w-full" #ngForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field *ngIf="form.controls['login'] as control" class="form-field" appearance="fill">
    <mat-label>Email</mat-label>
    <input name="login" [formControl]="control" matInput type="text" />
    <mat-hint *ngIf="control.errors?.['required']">Required</mat-hint>
    <mat-error *ngIf="control.errors?.['email']">Must be correct email</mat-error>
    <mat-error *ngIf="control.errors?.['minlength']">Must be at least 3 characters</mat-error>
    <mat-error *ngIf="control.errors?.['maxlength']">Must not exceed 16 characters</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="form.controls['password'] as control" class="form-field" appearance="fill">
    <mat-label>Password</mat-label>
    <input name="password" [formControl]="control" matInput #passwordInput="matInput" type="password" />
    <mat-icon
      [ngClass]="['icon', !passwordInput.focused ? 'text-[#74767A]' : '']"
      matSuffix
      [color]="control.touched && control.errors ? 'warn' : control.valid && 'accent'"
      >{{ control.touched && control.errors ? 'info' : 'info_outline' }}</mat-icon
    >
    <mat-hint *ngIf="control.errors?.['required']">Required</mat-hint>
    <mat-error *ngIf="control.errors?.['minlength']">Must be at least 6 characters</mat-error>
    <mat-error *ngIf="control.errors?.['maxlength']">Must not exceed 32 characters</mat-error>
    <mat-error *ngIf="control.errors?.['passwordStrength'] as message" class="err strength"
      >Must have {{ message }}</mat-error
    >
  </mat-form-field>

  <mat-form-field *ngIf="form.controls['firstName'] as control" class="form-field" appearance="fill">
    <mat-label>First name</mat-label>
    <input name="firstName" [formControl]="control" matInput #firstNameInput="matInput" type="firstName" />
    <mat-icon
      [ngClass]="['icon', !firstNameInput.focused ? 'text-[#74767A]' : '']"
      matSuffix
      [color]="control.touched && control.errors ? 'warn' : control.valid && 'accent'"
      >{{ control.touched && control.errors ? 'info' : 'info_outline' }}</mat-icon
    >
    <mat-hint *ngIf="control.errors?.['required']">Required</mat-hint>
    <mat-error *ngIf="control.errors?.['pattern']">Invalid character</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="form.controls['lastName'] as control" class="form-field" appearance="fill">
    <mat-label>Last name</mat-label>
    <input name="lastName" [formControl]="control" matInput #lastNameInput="matInput" type="lastName" />
    <mat-icon
      [ngClass]="['icon', !lastNameInput.focused ? 'text-[#74767A]' : '']"
      matSuffix
      [color]="control.touched && control.errors ? 'warn' : control.valid && 'accent'"
      >{{ control.touched && control.errors ? 'info' : 'info_outline' }}</mat-icon
    >
    <mat-hint *ngIf="control.errors?.['required']">Required</mat-hint>
    <mat-error *ngIf="control.errors?.['pattern']">Invalid character</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="form.controls['birthDate'] as control" appearance="fill">
    <mat-label>{{ control.value !== null ? 'Date' : 'Date of birth' }}</mat-label>
    <input name="birthDate" [formControl]="control" matInput [matDatepicker]="picker" [max]="maxDate" />
    <mat-hint *ngIf="control.errors?.['required']">Required</mat-hint>
    <mat-error *ngIf="control.touched && control.invalid">Invalid date</mat-error>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="checkbox-container flex flex-col" *ngIf="form.controls['confirm'] as control">
    <mat-checkbox #confirmCheckbox formControlName="confirm" color="primary">
      <span>I agree to Airway's </span>
      <a class="anchor" href="" target="_blank" rel="noopener noreferrer" color="primary">Privacy Policy</a>
      <span> and </span>
      <a class="anchor" href="" target="_blank" rel="noopener noreferrer" color="primary">Terms of Use</a>
    </mat-checkbox>
    <mat-hint class="ml-4 text-xs" *ngIf="control.errors?.['required'] && !ngForm.submitted">Required</mat-hint>
    <mat-error class="ml-4 text-xs" *ngIf="(control.touched || ngForm.submitted) && !confirmCheckbox.checked"
      >Must agree with the terms</mat-error
    >
  </div>

  <div class="gender-toggle-container flex flex-col my-4" *ngIf="form.controls['gender'] as control">
    <mat-button-toggle-group formControlName="gender" aria-label="User gender">
      <mat-button-toggle #firstOpt aria-label="Male" class="flex-auto flex gap-2" value="male">
        <mat-icon *ngIf="firstOpt.checked" aria-hidden="false" aria-label="check icon" fontIcon="check"></mat-icon>
        <span class="pl-2">Male</span>
      </mat-button-toggle>
      <mat-button-toggle #secondOpt aria-label="Female" class="flex-auto flex gap-2" value="female">
        <mat-icon *ngIf="secondOpt.checked" aria-hidden="false" aria-label="check icon" fontIcon="check"></mat-icon>
        <span class="pl-2">Female</span>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-hint class="ml-4 text-xs" *ngIf="control.errors?.['required'] && !ngForm.submitted">Required</mat-hint>
    <mat-error class="ml-4 text-xs" *ngIf="(control.touched || ngForm.submitted) && !control.value"
      >Must select gender</mat-error
    >
  </div>

  <mat-form-field appearance="fill" *ngIf="form.controls['citizenship'] as control">
    <mat-label>Citizenship</mat-label>
    <mat-select formControlName="citizenship">
      <mat-option *ngFor="let name of countryNames" [value]="name">
        {{ name }}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="control.errors?.['required']">Required</mat-hint>
  </mat-form-field>

  <!-- TODO: disable invalid form when done
      [disabled]="!form.valid || (isLoading$ | async)" -->
  <button class="btn submit mt-6" mat-raised-button color="primary" type="submit">
    <ng-container *ngIf="(isLoading$ | async) !== true; else loader">Sign up</ng-container>
  </button>
</form>

<ng-template #loader>
  <div class="flex gap-4 items-center">
    <mat-spinner style="height: 20px; width: 20px" color="accent"></mat-spinner>
    <span>Processing...</span>
  </div>
</ng-template>
