@use '../../../../../themes/default/colors' as c;
@use '../../../../../themes/util' as u;

.airport {
  display: flex;
  width: 100%;
}

.city {
  font-size: 16px;
  line-height: 24px;
}
.other {
  font-size: 14px;
  line-height: 20px;
  color: u.get-color(c.$brand-neutral, 30);
}
