@use 'themes';

@tailwind base;
@tailwind components;
@tailwind utilities;

.flight-root {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

    // ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  //   background-color: #fff;

  //   .mdc-text-field {
  //     border: solid 1px gray !important;
  //     border-radius: 4px !important;
  //   }
  // }
  // ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  //   border-radius: 4px;
  //   padding: 0.75em 0.75em 0 0.75em;
  //   border: 1px solid #f94747;
  // }

}

.mdc-text-field-wrapper {
  border: solid 1px gray;
  border-radius: 4px;
}

// .mat-pseudo-checkbox .mat-mdc-option-pseudo-checkbox .mat-pseudo-checkbox-full {
//   display: none;
// }
